geckodriver.log

!BarbaraWalters.mp3
!OPENASSISTANT TAKES ON CHATGPT!-TFa539R09EQ.mp3

*audio2Text/assets/captions/*

testvids/
t_env/
venv/
n_env/

**/__pycache__/
*.env
*.vscode
node_modules/
*mp4.part*
*mp4.ytdl*

*.mp4
*.webm
*.webm.*
*.mp3
*.avi
**.srt
**.vtt
**.mhtml
*.m4a
*.ogg
*.ini
*.opus
*.m4a
*.rar
*.zip

*.tfstate
*tfstate.backup
*.terraform/
.terraform.lock.hcl
venv2/

# See docker file.
# https://developer.nvidia.com/downloads/compute/cudnn/secure/8.9.1/local_installers/12.x/cudnn-local-repo-debian11-8.9.1.23_1.0-1_amd64.deb/ 
cudnn-local-repo-debian11-8.9.1.23_1.0-1_amd64.deb
