geckodriver.log

!BarbaraWalters.mp3
!OPENASSISTANT TAKES ON CHATGPT!-TFa539R09EQ.mp3

**/assets/captions/*
**/assets/audio/*
**/assets/output/*

testvids/
t_env/
venv/
n_env/

**/__pycache__/
*.env
*.vscode
node_modules/
*mp4.part*
*mp4.ytdl*

*.mp4
*.webm
*.webm.*
*.mp3
*.avi
**.srt
**.vtt
**.mhtml
*.m4a
*.ogg
*.ini
*.opus
*.m4a
*.rar
*.zip

*.tfstate
*tfstate.backup
*.terraform/
.terraform.lock.hcl
venv2/
venvIns/
venvFaster/
**/.env_prod

**/3090/
**/4090/

**/.env_docker_local

# See docker file.
# https://developer.nvidia.com/downloads/compute/cudnn/secure/8.9.1/local_installers/12.x/cudnn-local-repo-debian11-8.9.1.23_1.0-1_amd64.deb/ 
cudnn-local-repo-debian11-8.9.1.23_1.0-1_amd64.deb
sensitive-vars.tfvars
**/lib/**
**/canvas/**
**/assets/captions/**
**/assets/assets/**

!**/assets/assets/.gitkeep
!**/assets/captions/.gitkeep

**/tests-benchmarks-sorta/**
**/*.pem

**/vars_dev.tfvars
**/vars_prod.tfvars
**/.terraform.tfstate.lock.info

**/insanely-fast/*
!**/insanely-fast/test_helperz/
!**/insanely-fast/test_helperz/*
__pycache__/

**/imgs/*