<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
        <script defer src="/scripts.js"></script>
    </head>
    <body>
        <h1> <%= title %> </h1>
        <div> scrapped_data_s3 <%= JSON.stringify(scrapped_data_s3) %> </div>
        <div>
            
            <% 
            %>
                
                
            <% } %> 

        </div>
        
    </body>
</html>
