/* General Body Styles */
.error-wrapper {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
@media (min-width: 769px) {
    .error-page {
        display: flex;
        margin-top: 40px;
    }
    .error-image {
        max-width: 1200px;
        height: 600px;
        border-radius: 8px;
    }
}
@media (max-width: 768px) {
    .error-page {
        text-align: center;
        padding: 20px;
    }
    .error-image {
        width: 600px;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
    .basic-btn {
        padding: 5px 10px;
    }
}

.error-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.error-content h1 {
    font-size: 72px;
    line-height: 72px;
    color: #FF6347;
    margin-bottom: 10px;
    margin-top: 0;
    margin: 0;
}

.error-content p {
    font-size: 18px;
    margin: 10px 0;
    padding-bottom: 10px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1E90FF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FF4500;
}