
figure {
    margin: 0;
}
#word-count-graph [font-family='hacky-selector-text'] text {
    display: none;
}            
#word-count-graph [font-family='hacky-selector-text'] text.on {
    display: inline;
}
#word-count-graph rect.on {
    filter: saturate(200%);
    stroke: black;
}
#word-count-graph [aria-label*="label"][aria-label*="y-axis"] {
    font-size: 15px;
}
#word-count-graph [aria-label*="label"][aria-label*="x-axis"] {
    font-size: 15px;
}
figure svg {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .analysis_wordcloud_container {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 769px) {
    .analysis_wordcloud_container {
        width: 70%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

table {
    font-size: 22px;
    margin-right: 4px;
}
th {
    text-align: left;
}
td {
    padding: 0;
    max-width: 90px;
    line-height: 21px;
    font-weight: normal;
}
.analysis_vertical_word {
    display: inline-flex;
}

svg {
    position: sticky;
    top: 20px;
}

tbody tr:first-child {
    /* font-size: 30px; */
    border-bottom: 2pt solid pink;
}

.analysis__table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    row-gap: 40px;
    margin-bottom: 100px;
}

.analysis__count {

}

.table__mini_column {
    width: 85%;
}