
.basic-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-decoration: none;    display: block;
    text-align: center;
}

.basic-btn:hover {
    background-color: #555;
}

@media (max-width: 500px) {
    .basic-btn {
        font-size: 12px;
    }
}