:root {
    --img-height: 300px;
    
    @media (max-width: 768px) {
        
    }
    /* DESKTOP  */
    @media (min-width: 769px) {
        
    }
    /* DESKTOP */
    @media (min-width: 1099px) {
        --thumbnail-f-size: 14px;
    }
    /* DESKTOP */
    @media (min-width: 1399px) {
        --thumbnail-f-size: 12px;
    }
}



.channel__date,
.channel__duration {
    font-size: 14px;
    color: white;
    /* background-color: black; */
    /* margin: 3px; */
}

a.channel__thumbnail_parent {
    position: relative;
    display: block;
}
.channel__thumbnail {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 8px;
}

.channel__all_vods_container {
    width: 100%;
    /* MOBILE */
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    /* DESKTOP  */
    @media (min-width: 769px) {
        grid-template-columns: repeat(3, 1fr);
    }
    /* DESKTOP */
    @media (min-width: 1099px) {
        grid-template-columns: repeat(4, 1fr);
    }
    /* DESKTOP */
    @media (min-width: 1399px) {
        /* grid-template-columns: repeat(5, 1fr); */
        grid-template-columns: repeat(4, 1fr);
    }
}
.channel__all_vods_container {
    display: grid;
    gap: 10px;
}

.channel__vod:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.channel__vod {
    width: 100%;
    position: relative;
    overflow: hidden;
    /* box-sizing: border-box; */
}
.channel__card {
    /* margin: 10px; */
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.channel__abs_info {
    width: 100%;
    position: absolute;
    /* top: 0; */
    left: 0;
    padding: inherit;
    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    padding: 4px 0;
    bottom: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.channel__vod_title {
    white-space: normal; /* Allow text to wrap */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;

    color: #ffffff;
    margin: 0 0 8px 0;
    text-decoration: none;
}

.channel__vod_title_1 {
    max-width: 100%;
}

.back-link {
    margin-top: 5px;
    font-size: 12px;
    /* color: #1e90ff; */
    color: white;
    text-decoration: none;
    padding: 2px 7px;
    background-color: #555;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: fit-content;
}

.back-link:hover {
    background-color: #666;
    color: #ffffff;
}