
.channel__heading {
}

.channel__heading > * {
    padding-top: 12px;
}
.channel__eyebrow {
    font-size: 14px;
}
.channel__heading h1 {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
}
