:root {
    --img-height: 300px;
    
    @media (max-width: 768px) {
        
    }
    /* DESKTOP  */
    @media (min-width: 769px) {
        
    }
    /* DESKTOP */
    @media (min-width: 1099px) {
        --thumbnail-f-size: 14px;
    }
    /* DESKTOP */
    @media (min-width: 1399px) {
        --thumbnail-f-size: 12px;
    }
}



.channel__date,
.channel__duration {
    font-size: 14px;
    color: white;
    background-color: black;
    margin: 3px;
}

a.channel__thumbnail_parent {
    display: block;
}
.channel__thumbnail {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.channel__all_vods_container {
    width: 100%;
    /* MOBILE */
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    /* DESKTOP  */
    @media (min-width: 769px) {
        grid-template-columns: repeat(3, 1fr);
    }
    /* DESKTOP */
    @media (min-width: 1099px) {
        grid-template-columns: repeat(4, 1fr);
    }
    /* DESKTOP */
    @media (min-width: 1399px) {
        grid-template-columns: repeat(5, 1fr);
    }
}
.channel__all_vods_container {
    display: grid;
    gap: 10px;
}

.channel__vod {
    width: 100%;
    position: relative;
    overflow: hidden;



}

.channel__abs_info {
    width: 100%;
    position: absolute;
}

.channel__vod_title {
    white-space: normal; /* Allow text to wrap */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
}

.channel__vod_title_1 {
    max-width: 100%;
}
