body {
    margin-bottom: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    /* margin-top: 16px;     */
}

thead {
    background-color: #444;
}
th {   
    color: #ffffff;
    padding: 12px 8px;
    text-align: left;
    text-align: center;
    font-size: 16px;
    white-space: break-spaces;
}
th:first-child {
    text-align: left;
}
td {
    padding: 5px 15px;
    color: #d3d3d3;
    border-bottom: 1px solid #444;
    font-size: 14px;

}

.table_channel_name a {
    color: inherit;
    text-decoration: none;    
}

table td:not(.table_channel_name) {
    font-size: 18px;
    text-align: center;
}
#channel-table {
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;
}


.channel_row img {
    height: 48px;
    width: 48px;
    margin-top: auto;
    margin-bottom: auto;
}
.channel_row h2 {
    padding-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

tbody tr:hover {
    background-color: #333; 
}

tbody td[data-labelX] {
    color: #00CED1;
    color: #35ccd4;
    color: #FFD700;
}

/* tbody td[data-labelX]:hover { */
.streamer-name-linkXXX:hover {
    color: #FF4500;
}



.table-subheader {
    text-align: left;
    font-size: 18px;
    color: #d3d3d3;
    padding-top: 10px;
}
.bold_highlight {
    font-weight: bold;
    color: red;
    /* color: #b83d3d;
    color: #ce4b4b; */
}
.table-divider > th {
    font-size: 18px;
}
.table-divider {
    background-color: #444;
    text-align: left;
    color: #ffffff;
    /* padding-top: 10px; */
}
.table-divider:hover {
    background-color: #444;

}

.homepage__subtext {
    font-size: 13px;
    text-align: center;
    padding-top: 1px;
}





/* @media (min-width: 769px) { */
    tr {
        border-bottom: 1px solid black;
    }
    table {
        background-color: #2a2a2a;
    }
    .channel_row h2 {
        max-width: 150px;
    }

/* } */




.hero-extra-padding {
    padding-top: 10px;
    padding-bottom: 20px;
}

.hero-banner {
    background-image: url('./heroimgs/a2t_img\ \(2\).webp'); /* Add a compelling background image */
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.hero-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65); /* Dark overlay to enhance text readability */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px black;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 1px 1px 1px black;
}

.homepage_special_col > div span {
    margin-top: auto;
    margin-bottom: auto;
}
.homepage_special_col > div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.homepage_col_pipe {
    color: grey;
    font-size: 30px;
}


#find_me_on_twitter {
    text-align: center;
    padding: 20px;
    border: 1px solid;
    margin: 13px;
}
