@media (min-width: 200px) {
    body {
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* .profile_main_pic {
    padding-right: 12px;
    height: 80px;
    width: 80px;
} */
