body {
    background-color: grey;
}

@media (min-width: 200px) {
    body {
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
        /* display: flex;
        justify-content: center;
        flex-flow: column; */
    }
    .channel_row img {
        height: 48px;
        width: 48px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .channel_row {
        display: flex;
    }
    .channel_row h2 {
        padding-left: 8px;
    }
}

.profile_main_pic {
    padding-right: 12px;
    height: 80px;
    width: 80px;
}