.vod_timestamp {
    color: blue;
    cursor: pointer;
}

.vod_cue {
    white-space: nowrap;
}
.vod_cue p {
    margin: 0;
    display: inline;
    white-space: nowrap;
}

/* @media (max-width: 768px) {
    .vod_cue p {
        max-width: 768px;
    }
}
@media (min-width: 769px) {
    .vod_cue p {
        max-width: 2000px;
    }
} */

.sticky-iframe {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#toggle-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 769px) {
    #twitch-iframe {
        width: 640px;
        height: 360px;
    }
}

@media (max-width: 768px) {
    #twitch-iframe {
        width: 100%;
        min-height: 230px;
    
    }
}

