
.sticky-iframe {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
}

@media (min-width: 769px) {
    main {
        padding: 20px;
        max-width: 800px;
        margin: auto;
        margin-bottom: 100px;
    }
    
    #twitch-iframe {
        width: 800px;
        height: 450px;
        /* width: 640px; */
        /* height: 360px; */
    }
}

@media (max-width: 768px) {
    #twitch-iframe {
        width: 100%;
        min-height: 230px;
    }
    main {
        padding-top: 10px;
        width: 100%;
        margin: auto;
        margin-bottom: 100px;
    }
    
}

#transcript {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #444;
    margin-top: 20px;

.transcript-line {
    margin: 6px 0;
    display: flex;
    align-items: flex-start;
}


.cue {
    margin-left: 10px;
    flex-grow: 1;
}

footer {
    background-color: #2c2c2c;
    color: #d3d3d3;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    border-top: 2px solid #444;
}
.timestamp {
    color: #1e90ff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
    padding: 0;
    margin-right: 10px;
    transition: color 0.3s, text-decoration 0.3s;
}
.timestamp {
    /* color: #cccccc;
    min-width: 60px;
    font-weight: bold; */
}

.timestamp:hover {
    color: #ff6347;
    text-decoration: underline;
}



.video-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    /* background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c; */

    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

}

.video-error p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}