<%- include("../server-scripts/utilities") %>
<% let twitchUrl = "https://twitch.tv/videos/" + vod.id %>

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <title> <%= channel %> </title>
        <link rel="stylesheet" type="text/css" href="/fonts.css">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/vod.css">
        <link rel="stylesheet" type="text/css" href="/styles-mobile.css">
        <link rel="stylesheet" type="text/css" href="/styles-desktop.css">
        <script src="/scripts.js"></script>
    </head>    
    <body>
        <style>
            .tooltip {
                position: absolute;
                background-color: #f9f9f9;
                border: 1px solid #ccc;
                padding: 8px;
                pointer-events: none;  /* Ensures the tooltip doesn't interfere with other interactions */
                display: none;  /* Initially hidden */
            }

        </style>
        <div class="tooltip"></div>


        
        <div id="myplot"> myplot </div>
        <%
            console.log("theSvg")
            // console.log(theSvg)
            // console.log(JSON.stringify(theSvg, null, 2));        
        %>
        <div> <%- theSvg %></div>
        <script>
            let figure = document.querySelector("#SUPERID")
            let rects = figure.querySelectorAll("rect")
            for (let r of rects) {
                r.addEventListener("mouseover", (e) => {
                    console.log(e)
                })
            }
        </script>

    </body>
</html>
