

<link rel="stylesheet" type="text/css" href="/channelHeading.css">
<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="/imgs/beard2.png" class="navbar-icon" />
        <span style="padding-left:8px" class="m-y-auto">Twitch.tv Transcripts </span>
    </a>
    <ul class="navbar-links">
        <li><a href="/">Home</a></li>
    </ul>
    <div class="navbar-toggle" id="navbar-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
