<link rel="stylesheet" type="text/css" href="/navbarGPT.css">
<nav class="navbar">
    <a class="logo-container navbar-brand" href="/">
        <img id="logo" src="/imgs/beard2.png" alt="Logo"/>
        <span id="site-name">Twitch.tv Transcripts</span>
    </a>
    <a href="/" class="home-link">Home</a>
</nav>