<%- include("../../server-scripts/utilities") %>

<% 
    // let svg = await convertSvgToInline("/imgs/logo_pen.svg") 
%>
<link rel="stylesheet" type="text/css" href="/navbarGPT.css">
<nav class="navbar">
    <a class="logo-container navbar-brand" href="/">
        <img id="logo" src="/imgs/logo_pen.svg" alt="Logo"/>
        <span id="site-name">Twitch.tv Transcripts</span>
    </a>
    <a href="/" class="home-link">Home</a>
</nav>