<link rel="stylesheet" type="text/css" href="/channelHeaderGPT.css">
<section class="channel__streamer_info">
    <img class="channel__profile_pic" src="<%= channel.logo %>" alt="Streamer Profile Picture">
    <div class="channel__streamer_details">
        <h2><%= channel.displayName %></h2>
        <a href="/" class="back-link">View All Channels</a>
    </div>
</section>