<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOD Overview - KaiCenat</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <!-- Main Navbar -->
    <nav class="navbar">
        <div class="logo-container">
            <img src="https://dev-captions.bski.one/imgs/beard2.png" alt="Logo" id="logo">
            <span id="site-name">Twitch.tv Transcripts</span>
        </div>
        <a href="#" class="home-link">Home</a>
    </nav>

    <main>
        <!-- Streamer Info Section -->
        <section id="streamer-info">
            <img src="https://picsum.photos/200" alt="Streamer Profile Picture" id="profile-picture">
            <div class="streamer-details">
                <h2>KaiCenat</h2>
                <a href="#" class="back-link">View All Channels</a>
            </div>
        </section>

        <!-- VODs Overview Section -->
        <section id="vod-overview">
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <div class="vod-item">
                <div class="vod-thumbnail-container">
                    <img src="https://picsum.photos/200" alt="VOD Thumbnail" class="vod-thumbnail">
                    <div class="vod-overlay">
                        <p class="vod-date">07-26-2024</p>
                        <p class="vod-duration">6h 28min</p>
                    </div>
                </div>
                <div class="vod-details">
                    <h3 class="vod-title">REVEALING NEW NYC HOUSE👑CLICK HERE👑BIG NIGHT👑WE LIT👑BIGGEST DWARF👑MASSIVE GAMER👑INCREDIBLE ATHLETE👑</h3>
                </div>
            </div>
            <!-- Repeat .vod-item for each VOD -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Twitch.tv Transcripts. All rights reserved.</p>
    </footer>
</body>
</html>
