
<% if (table_data != null && table_data.length > 0 ) { %>
    <table>
    <tr>
        <th> <%=txt %> </th>
        <th> Count </th>
    </tr>
    <% for (let word of table_data.slice(0,100)) { %>
        <tr>
            <td> <%= word[0] %> </td>
            <td> <%= word[1] %> </td>
        </tr>
    <% } %>
    </table>
<% } %>