table {
    border-spacing: 0;
}
td {
    padding: 0;
}

tr {
    padding-bottom: 2px;
    white-space: nowrap;
}

td:not(:last-child) {
    padding-right: 14px;
}
th {
    text-align: left;
}

.channel__duration {
    text-align: right;
}