body {
    background-color: grey;
}

.d-flex {
    display: flex;
}

.row {
    
}

.col-1 {
    width: 0.083%
}
.col-2 {
    width: 16.6%
}
.col-3 {
    width: 25%
}
.col-4 {
    width: 33%
}
.col-5 {
    width: 41.7%
}
.col-6 {
    width: 50%
}
.col-7 {
    width: 58.3%
}
.col-8 {
    width: 66.7%
}
.col-9 {
    width: 75%
}
.col-10 {
    width: 83.3%
}
.col-11 {
    width: 91.7%
}
.col-12 {
    width: 100%
}


.d-inline {
    display: inline;
}

.d-none {
    display: none;
}

.align-self-center {
    align-self: center;
}