.vod_timestamp {
    color: blue;
    cursor: pointer;
}

.vod_cue {
    white-space: nowrap;
}
.vod_cue p {
    margin: 0;
    display: inline;
    white-space: nowrap;
}

/* @media (max-width: 768px) {
    .vod_cue p {
        max-width: 768px;
    }
}
@media (min-width: 769px) {
    .vod_cue p {
        max-width: 2000px;
    }
} */

.sticky-iframe {
    position: sticky;
    top: 0;
}

#toggle-btn {
    margin-top: 16px;
    margin-bottom: 16px;
}

.vod_newtab {
    display: inline-flex;
    align-items: center;
}
.vod_newtab .vod_svg_newtab {
    width: 22px;
    height: 22px;
}

.vod__json_vtt_txt_link span {
    padding-right: 12px;
}